body {
  text-align: center;
  background-image: url("./imagens/wallpaper.jpg");
}
main, button{
  font-size: 16px;
  font-family: 'Cinzel', serif;
}
  h1 {
  color: black;
}
#root {
  background: white;
  opacity: 0.9;
  width: 600px;
  height: auto;
  margin: auto;
  border-radius: 9px;
  padding: 10px;
}
input {
  border: solid 1px;
  border-radius: 6px;
}
.button {
  background-color: #1e4121;
  color: white;
  border: none;
  border-radius: 9px;
  width: 90px;
  height: 30px;
}
#resp {
  color: white;
  background-color: #1e4121;
  height: 60px;
  padding: 1px;
  margin-top: 5px;
  border-radius: 9px;
}
